/* Reset default margin and padding */
body, html {
  margin: 0;
  padding: 0;
}

/* Global font settings */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #333;
}

/* Container styles */
.container {
  display: flex;
  height: 100vh;
}

/* Main content styles */
.main-content {
  flex-grow: 1;
  padding: 20px;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  
  .sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ccc; /* Add subtle horizontal line */
  }
  
  .main-content {
    padding: 20px 0;
  }
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.logout-button, .new-post-button {
  background-color: #fff;
  color: #00acee;
  border: 1px solid #00acee;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

.logout-button:hover, .new-post-button:hover {
  background-color: #00acee;
  color: #fff;
}
.new-post-button {
  order: -1; /* Push to the left */
}

.logout-button {
  order: 1; /* Push to the right */
}
.create-post-container {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.create-post {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.create-post textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.create-post-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.post-button, .cancel-button {
  background-color: #00acee; /* Twitter blue */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

.cancel-button {
  background-color: #ccc;
}
.navigation-button
{
  background-color: #fff;
  color: #00acee;
  border: 1px solid #00acee;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

/* HEADER STUFF*/

.header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #00acee;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.user-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.avatar-icon {
  font-size: 3em;
  margin-right: 10px;
}

.user-header h1 {
  font-size: 2em;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.user-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.user-detail {
  display: flex;
  align-items: center;
  margin: 0 20px; 
}

.user-detail .icon {
  margin-right: 5px;
  color: #555;
}

.icon {
  font-size: 1.5em;
}

.notification {
  background-color: yellow;
  color: black;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin: 10px 0;
  font-size: 1.2em;
}
.posts-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Add space between posts */
}