.login-page-container {
    display: flex;
    align-items: center;
    margin: 0 auto; /* Center horizontally */
    height: 100vh;
  }
  
  .login-form-container {
    flex-grow: 1;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    max-width: 400px; /* Adjust the maximum width as needed */
  }
  
  .login-form-container h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .login-input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .login-input::placeholder {
    color: #999;
  }
  
  .login-button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #00acee; /* Twitter blue */
    color: #fff;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #009ad8;
  }
  
  .signup-redirect {
    margin-top: 20px;
    text-align: center;
}

.signup-link {
    color: #007bff;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}