.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  padding: 15px;
  height: 100vh; /* Full height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; /* To position logout button absolutely */
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  margin: 15px 0;
}

.sidebar-menu a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.logout-container {
  position: absolute;
  bottom: 15px; /* Adjust this value as needed */
  left: 0px;   /* Adjust this value as needed */
  right: 15px;  /* Adjust this value as needed */
}

.logout-button {
  width: 100%;
  padding: 10px;
}
.logout-button:hover {
  background-color: #ff1a1a;
}
.following-list-header {
  font-weight: bold;
  padding: 5px;
}

.following-list-item {
  padding: 5px;
}